@use '../utlil/' as *;

.header{

    margin-top: rem(36);
    @include breakpoint(medium) {
        display: flex;
        justify-content: space-between;
    }

    &__title{

    }

    &__subtitle{
        font-size: rem(14,13);
        font-weight: 700;
        color: var(--dark-text1);
    }

    &__toggle{

    }
}