@use '../utlil/' as *;
.toggle{
    border: none;
    &__wrapper{

    }
    input[type="radio"]{

    }
    &__background{

    }

    &__button {
      width:  rem(16);
      height: rem(16);
      border-radius:50%;
      background-color: var(--toggle)

    }

    &__label {
        
    }

}
